venue {
  color: #fff;
  background: #82c0cc;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 5px;
  text-align: center;
  margin-right: 3px;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}
award {
  color: #fff;
  background: #ffa62b;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 5px;
  text-align: center;
  margin-right: 3px;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}
highlight {
  color: #e57c23;
  font-weight: bold;
}
